*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;

  }
h3{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}
.container{
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.star-light{
    border: 10px blue solid;
}